.Note {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
}

.Note li {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.Note p {
  padding-right: 10px;
}

.deleteButton,
.editButton {
  background: #f44336;
  width: auto;
  font: 400 12px/30px sans-serif;
  color: #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.editButton {
  background: #fbcc00;
}

.buttonConteiner {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
}
