.Note {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
}

.Note li {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.Note p {
  padding-right: 10px;
}
